# if you edit this, also edit .dockerignore

# Exclude virtual environment directories
venv/
# Exclude compiled Python files
*.pyc
# Exclude temporary files
*.log
# Exclude README
README.md
# Exclude .gitignore
.gitignore
# Exclude StreamLit secrets* file(s) just in case
.streamlit/secrets*
# git repo
.git/
# idea files
.idea/
# Mac files in any subdirectory
**/.DS_Store
# docs
docs/
